/* 属性选择器参考 https://blog.csdn.net/zhangeer/article/details/127302164 */
:root[theme=light],
:root {
    /* light 和 默认 */

    /* 总体背景颜色 */
    --bgc: #e8eeee;
    /* 总体文字颜色 */
    --color: #2d313a;
    /* 区块背景色 */
    --block-bgc: #ffffff;
    /* 区块选中背景色 */
    --block-active-bgc: #fafafa;
    /* 加粗字体颜色 | 文章标题颜色 */
    --title-color: #1e2128;
    /* 高亮蓝色 */
    --highlight-blue: #3f7ef7;
    /* 高亮白色 */
    --highlight-white: #fff ;
    /* 弱化文字颜色 | 描述文字颜色 */
    --small: #444;
}

:root[theme=dark] {
    /* dark */
    
    /* 总体背景颜色 */
    --bgc: #222323;
    /* 总体文字颜色 */
    --color: #aeb3c4;
    /* 区块背景色 */
    --block-bgc: #121212;
    /* 区块选中背景色 */
    --block-active-bgc: #2b2929;
    /* 加粗字体颜色 | 文章标题颜色 */
    --title-color: #d3d8e9;
    /* 高亮蓝色 */
    --highlight-blue: #3f7ef7;
    /* 高亮白色 */
    --highlight-white: #fff ;
    /* 弱化文字颜色 | 描述文字颜色 */
    --small: #ddd;
}

body {
    background-color: var(--bgc);
    color: var(--color);

    transition: .3s linear;
}

header{
    background-color: var(--block-bgc);
    border-bottom: 2px solid var(--bgc);
}
.label-nav{
    background-color: var(--block-bgc);
}

/* nuxt-link的样式参考 https://www.cnblogs.com/shuiche/p/15727864.html */
.header-nuxt-link, .label-nuxt-link {
    color: var(--color);
    text-decoration: none;
}

/* 下面两个类名是自带的 */
/* 匹配路由 */
.router-link-active {
    color: var(--highlight-blue)
}
/* 精确匹配路由 */
.router-link-exact-active {
    color: var(--highlight-blue)
}


small {
    color: var(--small);
    font-style: italic;
}


/* color:
        light模式：
         #525766 全局文字颜色
         #1e2128 标题文字颜色
         #ffffff 导航栏背景颜色
         #f4f5f5 主要内容两侧背景颜色
         #3f7ef7 鼠标移动至标题后文字改变的颜色
        dark模式：
        #aeb3c4 全局文字颜色
        #f4f8fe 标题文字颜色
        #121212 导航栏背景颜色
        #222323 主要内容两侧背景颜色
        #3f7ef7 鼠标移动至标题后文字改变的颜色
*/