/* 属性选择器参考 https://blog.csdn.net/zhangeer/article/details/127302164 */
:root[theme=light], :root {
    /* light 和 默认 */
    --bgc: #F7FFF7;
    --color: #00171F;

}

:root[theme=dark] {
    /* dark */
    --bgc: #0B132B;
    --color: seashell; 

}


body {
    background-color: var(--bgc);
    color: var(--color);

    transition: .5s linear;
}