/* 属性选择器参考 https://blog.csdn.net/zhangeer/article/details/127302164 */
:root[theme=light],
:root {
    /* light 和 默认 */
    --bgc: #f4f5f5;
    --color: #7d818b;
    --small: #444;


}

:root[theme=dark] {
    /* dark */
    --bgc: #212322;
    --color: #17d818b;
    --small: #ddd;

}


body {
    background-color: var(--bgc);
    color: var(--color);

    transition: .5s linear;
}

small {
    color: var(--small);
    font-style: italic;
}

/* color:
        light模式：
         #525766 全局文字颜色
         #1e2128 标题文字颜色
         #ffffff 导航栏背景颜色
         #f4f5f5 主要内容两侧背景颜色
         #3f7ef7 鼠标移动至标题后文字改变的颜色
        dark模式：
        #aeb3c4 全局文字颜色
        #f4f8fe 标题文字颜色
        #121212 导航栏背景颜色
        #222323 主要内容两侧背景颜色
        #3f7ef7 鼠标移动至标题后文字改变的颜色
*/