/* nuxt配置CSS参考 https://nuxt.com/docs/api/configuration/nuxt-config#css */
/* 响应式导入css文件参考 https://www.jianshu.com/p/412e908fbaa8 */
/* grid 栅格布局参考 https://www.bilibili.com/video/BV1w84y1r7X8 */
/* 顶层使用 @charset */

/* 紧接着使用 @import */
/* 目前把大屏bigScreen和普通笔记本屏幕middleScreeen设置成一样的布局 */
@import url("screen/middleScreen.css") only screen and (min-width: 1201px);
@import url("screen/ipadScreen.css") only screen and (max-width: 1200px);           /* 平板横屏 */

@import url("screen/ipadVeticalScreen.css") only screen and (max-width: 840px);     /* 平板竖屏 */
@import url("screen/phoneScreen.css") only screen and (max-width: 420px);           /* 手机 */

/* 主题，因为主题的颜色优先级更高，所以在screen的下面放theme */
@import url(theme/theme.css);

/* 然后写其他配置 */

* {
    margin: 0;
    padding: 0;
}