body {
    background-color: #ccc;
}

.total-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    grid-column: 1 / 13;
}

.label-nav {
    grid-column: 1 / 13;
}

main {
    grid-column: 1 / 10;
}

.right-aside {
    grid-column: 10 / 13;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}


