body {
    position: relative;
    height: 100%;
}

/* 图标响应 */
header > .header-icon > .small-icon {
    display: none;
}

header > .header-icon > .big-icon {
    display: inline-block;
}

/* 导航栏响应 */
.header-nav-normal {
    display: unset;
}

.header-nav-select {
    display: none;
}

.total-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(12, 94px);
    grid-row-gap: 1px;
    grid-column-gap: 6px;
    /* margin-left: 10%;
    margin-right: 10%; */
}

/* header {
    grid-column: 1 / 13;
}

.label-nav {
    grid-column: 1 / 13;
} */

main {
    grid-column: 1 / 10;
}

.right-aside {
    grid-column: 10 / 13;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}


